
*{
 box-sizing: border-box;
}

html, body{
   padding: 0; 
   margin: 0;
   font-family: "Montserrat", sans-serif;
}
.nav-container{
   background-color: rgb(94, 31, 60); 
   height: 100px;
   width: 100%;
}
.nav-main{
    width: 100%; 
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid yellow;
}
.nav-main a {
    color: white;
    
}